/* Some styles for the memory-game.html
 *
 * Copyright 2018 - Rui Silva
 */
.wrapper {
    text-align: center;
}

#game-area {
    display: inline-block;
    margin: 0 auto;
}

.badge {
    height:128px;
    width: 128px;
    padding-right:10px;
}

.matched {
    cursor: not-allowed;
}

.btn {
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
}

.btn:hover{
    background-color: #FFFFFF;
    border-color: #000000;
    color: #000000;
}

.btn-start {
    display: none;
}

#stopwatch {
    display: none;
    text-decoration: underline;
}

.share-twitter {
    background-color: #FFFFFF;
    color: #00ACED;
    border: 2px solid #00ACED;
    border-radius: 5px;
    display: none;
    padding: 5px;
    text-decoration: none;
}

.share-twitter:hover {
    background-color: #00ACED;
    color: #FFFFFF;
}

.fa-twitter, .fa-stopwatch {
    padding-right: 5px;
}